body {
  margin: 0;
  background-color: black;
}

.content {
  max-width: 75%;
  color: white;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: #111;
}

.navBar {
  background-color: #222;
  color: white;
  padding: 1rem 3rem;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;  
}

.navBar .appName {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px; 
}

.navBar .links {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  gap: 1.5rem;
}